#WP_checkoutBox input[type="button"] {
  padding: 14px 20px !important;
  background-color: $site-color !important;
  font-size: 14px !important;
}

#WP_sendButton {
  background-color: $site-color !important;
}
